/* Melker Blomqvist Te23E */

body {
    transform: scale(0.8);
    transform-origin: top left;
    width: 122%;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 18px;
    height: 100vh;
}

.header,
.left-column,
.right-column,
.footer {
    border: 3px solid black;
}

.header {
    text-align: center;
    grid-column: span 3;
    background-color: #d76f00;
}

.left-column {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    background-color: #00ae37;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Img {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

.right-column {
    grid-column: 3 / 4;
    grid-row: 2 / 2;
    background-color: #00ae37;
}



.footer {
    grid-column: span 3;
    height: 100px;
    background-color: #d76f00;
}